<div class="module">
    <h2><a href="{{ url }}">{{ name }}</a></h2>
    <div class="created">{{ created | format_date('custom', 'Y-m-d H:i:s') }}</div>
    <div class="description">{{ description }}</div>
</div>
